@import "../../styles/scss/mixins";

.container {
    @include flex-col-center;
    @include large-device(768px) {
        height: 100%;
    }
}

.stack {
    width: 600px;

    @include small-device(768px) {
        width: 300px;
    }
}
