@import "@/styles/scss/mixins";

.container {
    margin: 10px;
}

.boxContainer {
    width: 360px;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    height: 230px;
    box-shadow: rgb(245 166 35 / 22%) 2px 6px 15px;

    &:hover {
        box-shadow: rgba(78, 78, 78, 0.22) 2px 2px 2px 3px;
    }
}

.info {
    @include flex-common($justify: start, $items: center);
}

.contentHeader {
    width: 212px;
}

.body {
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon {
    margin-right: 5px;
}
