@import "@/styles/scss/mixins";

.boxContainer {
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    height: 230px;

    &:hover {
        box-shadow: rgba(78, 78, 78, 0.22) 2px 2px 2px 3px;
    }
}

.info {
    @include flex-common($justify: flex-start, $items: center);

    font-size: 14px;
}

.contentHeader {
    width: 212px;
}

.body {
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon {
    margin-right: 5px;
}
