@import "@/styles/scss/mixins";

.icon {
    color: green;
    margin-right: 15px;
}

.jobBenefitList {
    max-width: 1000px;
    @include flex-common($wrap: wrap, $direction: row);
}

.jobBenefitsItems {
    max-width: 500px;
    min-width: 300px;
    margin-bottom: 5px;
    @include flex-common($items: center);
}

.container {
    margin: 15px 30px;
    max-width: 1000px;
}
