.navbar {
    position: sticky;
    top: 0px;
    z-index: 101;
    border-bottom: 1px solid rgb(198, 198, 198);
    padding: 20px 30px;
}

.image {
    background-color: #fff;
    border-radius: 20px;
}
