.companyName {
    font-size: 30px;
    justify-items: start;
}

.cardDescription {
    padding: 10px 0px 15px 0px;
}

.cardFooter {
    border-top: 1px solid #dddddd;
    margin: 22px 16px 0px;
}

.buttonApply {
    margin-top: 30px;
    align-items: end;
}
