.Header {
    margin-top: 5px;
}

.introduction {
    margin-top: 20px;
}

.horizontal {
    margin: 7px 0;
    border: none;
    height: 2px;
    background-color: #f3f3f3;
}

.corporateCulture {
    margin-top: 24px;
}

.contentText {
    margin-top: 10px;
}
