@import "../../../../styles/scss/mixins";

.container {
    margin-bottom: 30px;
}

.formBody {
    margin-top: 20px;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: dashed 1px #03aeef;
    padding: 5px 10px;
    border-radius: 5px;
}

.btnContainer {
    @include flex-common($justify: flex-end, $items: flex-end);

    margin-top: 10px;
}
